<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossas receitas</title>
    <link rel="stylesheet" type="text/css" href="receitas.css" />

</head>
<body>

    <section> 
        <div class="circle"></div>
    </section>

    <header>
        <a href="#" ><img  src="img/logoofc.png" class="logo" alt=""></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="receitas.html">Nossas receitas</a></li>
          <li><a href="/sugestoes.html">Mande sua receita</a></li>
          <li><a href="/comentarios.html">Nos avalie</a></li>
        </ul>
    </header>

    <div class="content">
        <div class="textbox"> 
            <h2 style="color: #22142b;"><u>Macarrão cremoso</u></h2> <br>
            <h1>Ingredientes</h1>
            <br>
                 <div>
                    <p>1 pacote do macarrão de sua preferência</p>
                    <p>4 xícaras de chá de água fria</p>
                    <p>200 g de presunto picado</p>
                    <p>200 g de bacon picado</p>
                    <p>250 g de creme de leite</p>
                </div>
                <br>
        
            <br>
        
            <h1 style="color: #22142b">Modo de Preparo</h1> <br>
                <p>1) Misture tudo em uma panela de pressão.</p>
                <p>2) Tampe-a e leve ao fogo médio. Após pegar pressão, deixe cozinhar por 3 minutos e desligue o fogo.</p>
                <p>3) Doure o bacon em uma panela e depois escorra o óleo.</p>
                <p>4) Adicione o presunto, a mussarela e o bacon ao macarrão.</p>
                <p>5) Por último, adicione o creme de leite.</p>
                <p>6) Misture tudo em fogo baixo, até que o queijo derreta.</p>
                <br>
                
        </div>
    </div>

    <section class="about">
        <div class="extras">
            <img style="width: 600px" style="height: 500px; position: relative; margin-top: 300px; " src="img/macarrao.jpg">
        </div>
    
    </section>

    <div class="content" style="margin-top: -155px;">
        <div class="textbox"> 
            <h2 style="color: #22142b;"><u>Bolo de chocolate</u></h2> <br>
            <h1>Ingredientes</h1>
            <br>
                <div>
                    <p>4 ovos</p>
                    <p>4 colheres de sopa de chocolate em pó</p>
                    <p>2 colheres de sopa de manteiga</p>
                    <p>2 colheres de sopa de fermento</p>
                    <p>3 xícaras de chá de farinha de trigo</p>
                    <p>2 xícaras de chá de açúcar</p>
                    <p>1 xícara de chá de leite</p>

                </div>
            <br>
    
        
            <h1 style="color: #22142b">Modo de Preparo</h1> <br>
                <p>1) Em um liquidificador adicione os ovos, o chocolate em pó, a manteiga, a farinha de trigo, o açúcar e o leite, depois bata por 5 minutos.</p>
                <p>2) Adicione o fermento e misture com uma espátula delicadamente.</p>
                <p>3) Em uma forma untada, despeje a massa e asse em forno médio (180 ºC) preaquecido por cerca de 40 minutos.</p>
                <br>
                
        </div>
    </div>
    
    <section class="about">
        <div class="extras">
            <img style="width: 600px" style="height: 500px" src="img/chocolate.jpg">
        </div>
    
    </section>
      
    <div class="content" style="margin-top: -155px;">
        <div class="textbox"> 
            <h2 style="color: #22142b;"><u>Drink Tangerina</u></h2> <br>
            <h1>Ingredientes</h1>
            <br>
                <div>
                    <p>Gin</p>
                    <p>Suco de tangerina</p>
                    <p>Cardamomo</p>
                    <p>Alecrim</p>
        
                </div>
            <br>
                     
            <h1 style="color: #22142b">Modo de Preparo</h1> <br>
                <p>1) Misture tudo</p>
                <br>
                
        </div>
    </div>
    
    <br><br><br><br><br><br><br><br>
    <section class="about">
        <div class="extras">
    
            <img style="width: 600px" style="height: 500px;" src="img/tangerina.jpg">
        </div>
    </section>
      
    </body>
</html>